

{% from "bootstrap5/form.html" import render_form %}


{% include "header.html" %}
  

  
  
    <header class="mb-auto">
      <div>
        <a href="#" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar2-check" viewBox="0 0 16 16">
            <path d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
          </svg>
          <h3 class="float-md-start p-1 mt-3">PerMan</h3>
        </a>
        
      </div>
    </header>
  
  <main class="px-3 text-center">
    <h1>Sign-Up</h1>
    <div class="row">
    
    <main class="mb-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
          <!--Rendering the registration form here-->
          {{render_form(form, novalidate=True, button_map={"submit": "success"}) }}
          </div>
        </div>
      </div>
    </main>
    </div>
   
    <footer class="mt-auto text-white-50">
      <div class="small text-center text-muted fst-italic">Copyright &copy; Chic Clocks <script>document.write(new Date().getFullYear())</script></div>
    </footer>
  </main>
  
  </div>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  
    
  
  </body>

  
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  

</body>
</html>















